{% extends 'base.html.twig' %}

{% block body %}

<div class="container-profile">
    <div class="profile-cards public-profile-card">
        <div class="profile-user">
            <div class="profile-picture">
                <a href="/">{# todo modal vers ajout avatar #}
                    <img src="/images/avatar.png" alt="Avatar par défaut">
                    <div class="profile-picture-add"><i class="fa-solid fa-plus fa-lg"></i></div>
                </a>
            </div>
            <h1>{{ app.user.username }}</h1>
        </div>
        <a href="{{ path('app_profile') }}" class="profile-user-button">Voir mon profil public</a>
    </div>
    <div class="wallet-card">
        <a href="/">{# todo route porte-monnaie #}
            <div class="profile-cards wallet-card-bg">
                <div class="wallet-card-content">
                    <h2 class="profile-cards-titles">Porte-monnaie</h2>
                    <span class="wallet-balance">0 €</span>
                    <span>Solde disponible</span>
                </div>
            </div>
        </a>
    </div>
    <div class="products-card">
        <a href="/">{# todo route products #}
            <div class="profile-cards secondary-cards">
                <div class="profile-cards-icons">
                    <span class="fa-stack fa-2x">
                        <i class="fa-solid fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-bars-staggered fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="profile-cards-text-content">
                <h2 class="profile-cards-titles">Annonces</h2>
                <span class="profile-cards-description">Gérer mes annonces déposées</span>
                </div>
            </div>
        </a>
    </div>
    <div class="profile-cards deals-card">
        Transactions
    </div>
    <div class="profile-cards bookings-card">
        Réservations
    </div>
    <div class="profile-cards spaces-card">
        Profil & Espaces
    </div>
    <div class="profile-cards settings-card">
        Paramètres
    </div>
    <div class="profile-cards security-card">
        Connexion et sécurité
    </div>
    <div class="profile-cards credits-card">
        Crédits
    </div>
    <div class="profile-cards assistance-card">
        Aide
    </div>
    <div class="profile-cards community-card">
        Communauté Lebonmeow
    </div>
    <div class="logout-card">
        <a href="/logout">Se déconnecter</a>
    </div>

    {# {% for message in app.flashes('address_message') %}
        <div>
            {{ message }}
        </div>
    {% endfor %} #}

    {# <a href="{{ path('app_address_new')}}">Ajouter une adresse</a>
    {% if app.user.addresses %}
    {% set index = 0 %}
        {% for address in app.user.addresses %}
        {% set index = index + 1 %}
            <div class="card">
                <div class="card-header">
                    <h3>Adresse n°{{ index }}</h3>
                </div>
                <div class="card-body">
                    <address>
                        {{ address.fullname }} <br>
                        {{ address.address }} <br>
                        {{ address.extras }} <br>
                        {{ address.city }} <br>
                        {{ address.zipcode }} <br>
                    </address>
                    <div class="btn-group">
                        <a href="{{ path('app_address_edit', {'id':address.id}) }}">Modifier</a>
                        {{ include('address/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune adresse enregistrée.</p>
    {% endif %} #}
</div>
{% endblock %}
