{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}!</h1>

    {% for message in app.flashes('address_message') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('app_address_new')}}">Ajouter une adresse</a>
    {% if app.user.addresses %}
    {% set index = 0 %}
        {% for address in app.user.addresses %}
        {% set index = index + 1 %}
            <div class="card">
                <div class="card-header">
                    <h3>Adresse n°{{ index }}</h3>
                </div>
                <div class="card-body">
                    <address>
                        {{ address.fullname }} <br>
                        {{ address.address }} <br>
                        {{ address.extras }} <br>
                        {{ address.city }} <br>
                        {{ address.zipcode }} <br>
                    </address>
                    <div class="btn-group">
                        <a href="{{ path('app_address_edit', {'id':address.id}) }}">Modifier</a>
                        {{ include('address/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune adresse enregistrée.</p>
    {% endif %}
</div>
{% endblock %}
