{% extends 'base.html.twig' %}

{% block body %}

<div class="container-account ptb-105em m-0auto">
    <div class="account-cards public-profile-card primary-cards">
        <div class="profile-user">
            <a href="{{ path('app_user_picture', {'id': app.user.id }) }}">
                <div class="profile-picture">
                    {% if app.user.image %}
                        <img src="{{ asset(app.user.image) }}" alt="Avatar de {{ app.user.username }}" class="h88-w88 cover-center-object round-picture">
                    {% else %}
                        <img src="/images/avatar.png" alt="Avatar par défaut" class="h88-w88 cover-center-object round-picture">
                    {% endif %}
                </div>
            </a>
            <h1 class="fs-20 fw-600">{{ app.user.username }}</h1>
        </div>
        <a href="{{ path('app_profile') }}" class="button button-outline p05-1em">Voir mon profil public</a>
    </div>
    <div class="wallet-card">
        <a href="/">{# todo route porte-monnaie #}
            <div class="account-cards wallet-card-bg primary-cards">
                <div class="wallet-card-content">
                    <h2 class="fs-16 fw-600">Porte-monnaie</h2>
                    <span class="fs-24 fw-600">0 €</span>
                    <span>Solde disponible</span>
                </div>
            </div>
        </a>
    </div>
    <div class="products-card">
        <a href="/">{# todo route products #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <span class="fa-stack fa-1x">
                        <i class="fa-solid fa-square fa-stack-2x color-grey"></i>
                        <i class="fa-solid fa-bars-staggered fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Annonces</h2>
                    <span class="account-cards-description">Gérer mes annonces déposées</span>
                </div>
            </div>
        </a>
    </div>
    <div class="deals-card">
        <a href="/">{# todo route deals #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <span class="fa-stack fa-1x">
                        <i class="fa-solid fa-circle fa-stack-2x color-grey"></i>
                        <i class="fa-solid fa-euro-sign fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Transactions</h2>
                    <span class="account-cards-description">Suivre mes achats et mes ventes</span>
                </div>
            </div>
        </a>
    </div>
    <div class="bookings-card">
        <a href="/">{# todo route bookings #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <i class="fa-solid fa-umbrella-beach fa-2xl color-grey"></i>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Réservations de vacances</h2>
                    <span class="account-cards-description">Retrouver vos réservations en tant qu'hôte et voyageur</span>
                </div>
            </div>
        </a>
    </div>
    <div class="spaces-card">
        <a href="/">{# todo route spaces #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <i class="fa-solid fa-circle-user fa-2xl color-grey"></i>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Profil & Espaces</h2>
                    <span class="account-cards-description">Modifier mon espace public, accéder à mes avis, aux espaces candidat et locataire</span>
                </div>
            </div>
        </a>
    </div>
    <div class="settings-card">
        <a href="/">{# todo route settings #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <i class="fa-solid fa-gear fa-2xl color-grey"></i>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Paramètres</h2>
                    <span class="account-cards-description">Compléter et modifier mes informations privées et préférences</span>
                </div>
            </div>
        </a>
    </div>
    <div class="security-card">
        <a href="/">{# todo route security #}
            <div class="account-cards secondary-cards">
                <div class="account-cards-icons">
                    <span class="fa-stack fa-1x">
                        <i class="fa-solid fa-shield fa-stack-2x color-grey"></i>
                        <i class="fa-solid fa-check fa-inverse fa-stack-1x"></i>
                    </span>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Connexion et sécurité</h2>
                    <span class="account-cards-description">Protéger mon compte et mettre à jour mon mot de passe</span>
                </div>
            </div>
        </a>
    </div>
    <div class="credits-card">
        <a href="/">{# todo route credits #}
            <div class="account-cards secondary-cards tertiary-cards">
                <div class="account-cards-icons">
                    <i class="fa-solid fa-coins fa-sm"></i>
                </div>
                <div class="account-cards-text-content">
                    <h2 class="fw-600">Mes crédits</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="assistance-card">
        <a href="/">{# todo route assistance #}
            <div class="account-cards secondary-cards tertiary-cards redirect-icon-cards">
                <div class="dnr">
                    <div class="account-cards-icons">
                        <i class="fa-solid fa-question fa-2xl color-grey"></i>
                    </div>
                    <div class="account-cards-text-content">
                        <h2 class="fs-16 fw-600">Aide</h2>
                    </div>
                </div>
                <div class="color-grey">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="community-card">
        <a href="/">{# todo route community #}
            <div class="account-cards secondary-cards tertiary-cards redirect-icon-cards">
                <div class="account-cards-text-content">
                    <h2 class="fs-16 fw-600">Communauté <span>lebonmeow</span></h2>
                </div>
                <div class="color-grey">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="logout-card">
        <a href="/logout">
            <div class="account-cards">Me déconnecter</div>
        </a>
    </div>
    {# {% for message in app.flashes('address_message') %}
        <div>
            {{ message }}
        </div>
    {% endfor %} #}

    {# <a href="{{ path('app_address_new')}}">Ajouter une adresse</a>
    {% if app.user.addresses %}
    {% set index = 0 %}
        {% for address in app.user.addresses %}
        {% set index = index + 1 %}
            <div class="card">
                <div class="card-header">
                    <h3>Adresse n°{{ index }}</h3>
                </div>
                <div class="card-body">
                    <address>
                        {{ address.fullname }} <br>
                        {{ address.address }} <br>
                        {{ address.extras }} <br>
                        {{ address.city }} <br>
                        {{ address.zipcode }} <br>
                    </address>
                    <div class="btn-group">
                        <a href="{{ path('app_address_edit', {'id':address.id}) }}">Modifier</a>
                        {{ include('address/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune adresse enregistrée.</p>
    {% endif %} #}
</div>
{% endblock %}
