{% extends "base.html.twig" %}

{% block body %}
<main class="box-shadow modal-box">
    <span class="ase color-grey-darker"><a href="{{ path('app_account') }}"><i class="fa-solid fa-xmark fa-2xl"></a></i></span>
    <div>
        {% if user.image %}
            <img src="{{ asset(user.image) }}" alt="Avatar de {{ user.username }}" class="h152-w152 cover-center-object round-picture">
        {% else %}
            <img src="/images/avatar.png" alt="Avatar par défaut" class="h152-w152 cover-center-object round-picture">
        {% endif %}
    </div>
    <div>
        <h2 class="huge-text mb02em">Photo de profil</h2>
        <p>Nous sommes ravi.e.s de vous rencontrer pour de vrai !</p>
    </div>
    {{ form_start(form) }}
        <label for="user_avatar_image" class="button button-full p06-1em">Ajouter une photo</label>
        {{ form_widget(form.image) }}
        <div class="color-grey-darker description-box tiny-text">
            <p>Votre photo ne doit pas être contraire aux bonnes mœurs ou à l'ordre public, ni porter atteinte aux droits de tiers.</p>
            <p>Nous acceptons les formats : jpg, jpeg, png • Poids max : 8 Mo</p>
        </div>
        {% if user.image %}
            <button class="button button-full button-small trs-trl-right">Modifier ma photo</button>
        {% else %}
            <button class="button button-full button-small">Valider</button>
        {% endif %}
    {{ form_end(form) }}
    {% if user.image %}
        {{ include('account/picture_delete.html.twig') }}
    {% endif %}
</main>
{% endblock %}