{% extends "base.html.twig" %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="fs-16 fw-600 color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="bg-cats df fdc h-full-mini-header">

    {% if app.user %}
        <div class="alert alert-success">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="color-purple">Se déconnecter ?</a>
        </div>
    {% endif %}

    <div class="df fdc jcc aic box-shadow mt-2em-sb-auto p-2em bg-white w-400px">

        {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="ta-center pb-1em">
            <h2 class="fs-20 fw-600 mt-05em mb-102em">Bonjour !</h2>
            <span>Connectez-vous pour découvrir toutes nos fonctionnalités</span>
        </div>

        <form method="post" name="login_form">
            <div class="form-item">
                <label for="inputEmail" class="label">E-mail
                    <span class="required-field">champ requis</span>
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required>
            </div>
            <div class="form-item pb-0">
                <label for="inputPassword" class="label">Mot de passe
                    <span class="required-field">champ requis</span>
                </label>
                <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
            </div>
            <a href="{{ path('app_forgotten_password') }}" class="link-color-change ta-left fs-12">Mot de passe oublié</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-100 dif aic jcc mnh-206em button button-full fs-14 mtb-105em">Se connecter</button>
        </form>
        <div class="fs-13">Envie de nous rejoindre ? <a href="{{ path('app_register') }}" class="link-color-change">Créer un compte</a></div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}