{% extends "base.html.twig" %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="header-mini-title fs-16 fw-600 color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="main-form">

    {% if app.user %}
        <div class="alert alert-success">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
        </div>
    {% endif %}

    <div class="card-form">

        {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="card-form-intro">
            <h2 class="fs-20 fw-600">Bonjour !</h2>
            <span>Connectez-vous pour découvrir toutes nos fonctionnalités</span>
        </div>
        
        <form method="post">
            <div class="login">
                <div class="card-form-email">
                    <label for="inputEmail" class="card-form-label fw-600">E-mail
                        <span class="card-form-required-field fs-12 fw-400">champ requis</span>
                    </label>
                    <div class="card-form-input">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
                    </div>
                </div>
                <div class="card-form-password">
                    <label for="inputPassword" class="card-form-label fw-600">Mot de passe
                        <span class="card-form-required-field fs-12 fw-400">champ requis</span>
                    </label>
                    <div class="card-form-input">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                </div>
                <a href="{{ path('app_forgotten_password') }}" class="card-form-forgot-pwd color-purple ta-left fs-12">Mot de passe oublié</a>
                <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >
                <button class="card-form-button button button-full fs-14 mtb-105em">Se connecter</button>
            </div>
        </form>
        <div class="card-form-link">Envie de nous rejoindre ? <a href="{{ path('app_register') }}">Créer un compte</a></div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}