{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Toutes les annonces !</h1>

    <div>
        {% for product in products %}
            {{ product.name }}
            {{ product.description }}
            {{ product.price }}
            {{ product.image }}
        <a href="/product/{{product.slug}}">Voir</a>
        {% endfor %}
    </div>

</div>
{% endblock %}
