{% extends "base.html.twig" %}

{% block title %}Création de compte{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="header-mini-title fs-16 fw-600 color-purple">
    Création de compte
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="main-form">

    {% if app.user %}
        <div class="alert alert-success">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
        </div>
    {% endif %}

    <div class="card-form">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="card-form-intro">
            <h2 class="fs-20 fw-600">Créez un compte</h2>
            <span>Bénéficiez d'une expérience personnalisée avec du contenu en lien avec votre activité et vos centres d'intérêt sur notre service</span>
        </div>
        
        <form method="post">
        {{ form_start(registrationForm) }}
            <div class="signup">
                <div class="card-form-email">
                    <label for="inputEmail" class="card-form-label fw-600">E-mail
                        <span class="card-form-required-field fs-12 fw-400">champ requis</span>
                    </label>
                    <div class="card-form-input" id="inputEmail">
                        {{ form_widget(registrationForm.email) }}
                    </div>
                </div>
                <div class="card-form-password">
                    <label for="inputPassword" class="card-form-label fw-600">Mot de passe
                        <span class="card-form-required-field fs-12 fw-400">champ requis</span>
                    </label>
                    <div class="card-form-input" id="inputPassword">
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                </div>
                <div class="card-form-username">
                    <label for="inputUsername" class="card-form-label fw-600">Nom d'utilisateur
                        <span class="card-form-required-field fs-12 fw-400">champ requis</span>
                    </label>
                    <div class="card-form-input" id="inputUsernamme">
                        {{ form_widget(registrationForm.username) }}
                    </div>
                </div>
                <button type="submit" class="card-form-button button button-full fs-14 mtb-105em">Créer mon compte</button>
            </div>
        {{ form_end(registrationForm) }}
        </form>
        <div class="card-form-link">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Me connecter</a></div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}