{% extends "base.html.twig" %}

{% block title %}Création de compte{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="fs-16 fw-600 color-purple">
    Création de compte
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="bg-cats df fdc h-full-mini-header">

    {% if app.user %}
        <div class="alert alert-success">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="color-purple">Se déconnecter ?</a>
        </div>
    {% endif %}

    <div class="df fdc jcc aic box-shadow mt-2em-sb-auto p-2em bg-white w-500px">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="ta-center pb-1em">
            <h2 class="fs-20 fw-600 mt-05em mb-102em">Créez un compte</h2>
            <span>Bénéficiez d'une expérience personnalisée avec du contenu en lien avec votre activité et vos centres d'intérêt sur notre service</span>
        </div>
        
        {{ form_start(registrationForm) }}
            <div class="form-item">
                <label for="registration_form_email" class="label">E-mail
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="form-item">
                <label for="registration_form_plainPassword" class="label">Mot de passe
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="form-item">
                <label for="registration_form_username" class="label">Nom d'utilisateur
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(registrationForm.username) }}
            </div>
            <button type="submit" class="w-100 dif aic jcc mnh-206em button button-full fs-14 mtb-105em">Créer mon compte</button>
        {{ form_end(registrationForm) }}
        <div class="fs-13">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="link-color-change">Me connecter</a></div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}