<header>
    <div class="header-content">

        <div class="header-left-content fw-600">
            <a href="/">
                <img src="/images/logo-pressed.png" alt="Logo du site Lebonmeow" class="logo">
            </a>
            <a href={{ path('app_product_new') }} class="app-new-post button button-full ptb-05em-lr-06em">
                <i class="fa-regular fa-square-plus fa-xl mr-05em"></i>
                <span class="pb-02em">Déposer une annonce</span>
            </a>
            <a href="/" class="app-search header-top-links">
                <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                Rechercher
            </a>
        </div>
        
        <div class="header-right-content fs-12">
            <a href="/" class="user-links header-top-links">
                <img src="/images/bell.svg" alt="Icône d'une cloche" class="h24-w24">
                <span class="user-links-span">Mes recherches</span>
            </a>
            <a href="/" class="user-links header-top-links">
                <img src="/images/heart.svg" alt="Icône d'un coeur" class="h24-w24">
                <span class="user-links-span">Favoris</span>
            </a>
            <a href="/" class="user-links header-top-links">
                <img src="/images/messages.svg" alt="Icône d'une bulle avec trois points" class="h24-w24">
                <span class="user-links-span">Messages</span>
            </a>
            {% if app.user %}
                <a href="/account" class="user-links padding-none avatar-link-gap header-top-links">
                    {% if app.user.image %}
                        <img src={{ asset(app.user.image) }} alt="Avatar de {{ app.user.username }}" class="h30-w30 round-picture cover-center-object">
                    {% else %}
                        <img src="/images/avatar.png" alt="Icône d'un utilisateur connecté" class="h30-w30 round-picture cover-center-object">
                    {% endif %}
                    <span class="user-links-span">{{ app.user.username }}</span>
                </a>
            {% else %}
                <a href="/login" class="user-links header-top-links">
                    <img src="/images/an-user.svg" alt="Icône d'un utilisateur non connecté" class="h24-w24">
                    <span class="user-links-span">Se connecter</span>
                </a>
            {% endif %}
        </div>

        <nav class="header-nav">
            <ul>
                {% for category in categories %}
                    <li><a href={{ path('app_category_show', {id: category.id}) }}>{{ category.name | capitalize }}</a></li>
                    <span class="dot"></span>
                {% endfor %}
            </ul>
        </nav>

    </div>
</header>