{% extends 'base.html.twig' %}

{% block title %}{{ category.description | capitalize }}{% endblock %}

{% block body %}
<main class="center-content partials-padding min-height pb1em">
    {% if category.products | length == 0 %}
        <h1 class="massive-title ta-center">Aucune annonce dans cette catégorie.</h1>
    {% else %}
        <h1 class="massive-title">{{ category.products | length }} annonces {{ category.description }}</h1>
        <div class="df jcc fww g1em">
            {% for product in category.products %}
                <a href="{{ path('app_product_show', {'slug': product.slug}) }}" class="lthfcc">
                    <div class="thumbnail-box-tiny mxw-250px">
                        <div class="df asst g05em o1">
                            <div>
                                {% if product.seller.image is defined %}
                                    <img src={{ asset(product.seller.image) }} alt="Image de profil de {{ product.seller.username }}" class="h24-w24 round-picture cover-center-object">
                                {% else %}
                                    <img src="/images/avatar.png" alt="Image de profil de {{ product.seller.username }}" class="h24-w24 round-picture cover-center-object">
                                {% endif %}
                            </div>
                            <div class="normal-text">{{ product.seller.username }}</div>
                            <div>
                                <i class="fa-solid fa-star fa-sm color-purple"></i>
                                <span class="tiny-text">3</span>
                            </div>
                        </div>

                        <div class="o2">
                            <div>
                                {% if product.firstImage %}
                                    <img src={{ asset(product.firstImage) }} alt="Image de l'annonce : {{ product.name }}" class="h292-w234 rounded-corner cover-center-object">
                                {% else %}
                                    <div class="df jcc aic bg-lighter-grey h225-w180 rounded-corner">
                                        <img src="/images/no-picture-big.png" class="contain-center-object h187-w150 roundish-corner">
                                    </div>
                                {% endif %}
                            </div>
                            <h2 class="title-color-change big-text">{{ product.name }}</h2>
                        </div>

                        <div class="o3 asst normal-text">{{ product.price }} €</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock %}
