{{ form_start(form) }}
    <div class="form-item form-item-half">
        <label for="product_name" class="label">
            Quel est le titre de l'annonce ?
            <span class="required-field">champ requis</span>
        </label>
        {{ form_widget(form.name) }}
    </div>
    <div class="form-item form-item-half">
        <label for="product_category" class="label">
            Choisissez une catégorie
            <span class="required-field">champ requis</span>
        </label>
        <div class="select">
            {{ form_widget(form.category) }}
            <span class="focus"></span>
        </div>
    </div>
    <div class="form-item">
        <label for="product_description" class="label">
            Ecrivez une description pertinente !
            <span class="required-field">champ requis</span>
        </label>
        {{ form_widget(form.description) }}
    </div>
    <div class="form-item form-item-half">
        <label for="product_price" class="label">
            Fixez le prix de votre article
            <span class="required-field">champ requis</span>
        </label>
        {{ form_widget(form.price) }}
    </div>
    <div class="form-item">
        <label class="label">
            Ajoutez des photos
        </label>
        {% if app.request.attributes.get('_route') == 'app_product_edit' %}
            {% if product.images %}
                <div class="df g03em mb-1em">
                    {% for image in product.images %}
                        <div class="picture-with-button">
                            <img src={{ asset(image.image) }} alt="Image de l'annonce {{ product.name }}" class="h150-w150 cover-center-object roundish-corner">
                            <a href="{{ path('app_product_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="button-delete"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <fieldset class="fieldset">
            <div class="input-file-dashed">
                {{ form_widget(form.thirdImage) }}
            </div>
            <div class="input-file-dashed">
                {{ form_widget(form.secondImage) }}
            </div>
            <div class="input-file-dashed">
                {{ form_widget(form.firstImage) }}
            </div>
        </fieldset>
    </div>
    <button class="asc button button-full fs-14 mt-2em ptb-07em-lr-105em">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
