{{ form_start(form) }}
    <div class="card-form-name new-product-form-group">
        <label for="product_name" class="card-form-label">
            Quel est le titre de l'annonce ?
            <span class="card-form-required-field">champ requis</span>
        </label>
        <div class="card-form-input">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="card-form-category new-product-form-group">
        <label for="product_category" class="card-form-label">
            Choisissez une catégorie
        </label>
        <div class="card-form-select">
            {{ form_widget(form.category) }}
            <span class="focus"></span>
        </div>
    </div>
    <div class="card-form-description">
        <label for="product_description" class="card-form-label">
            Ecrivez une description pertinente !
            <span class="card-form-required-field">champ requis</span>
        </label>
        <div class="card-form-textarea">
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="card-form-price new-product-form-group">
        <label for="product_price" class="card-form-label">
            Fixez le prix de votre article
            <span class="card-form-required-field">champ requis</span>
        </label>
        <div class="card-form-input">
            {{ form_widget(form.price) }}
        </div>
    </div>
    <div class="card-form-image">
        <label for="product_image" class="card-form-label">
            Ajoutez des photos
        </label>
        <fieldset class="new-product-image-fieldset">
            <div class="card-form-input-file">
                {{ form_widget(form.firstImage) }}
            </div>
            <div class="card-form-input-file">
                {{ form_widget(form.secondImage) }}
            </div>
            <div class="card-form-input-file">
                {{ form_widget(form.thirdImage) }}
            </div>
        </fieldset>
    </div>

    <button class="new-product-btn">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
