{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - {{ product.category.name }}{% endblock %}

{% block body %}
<main class="main-product">
    {% include "partials/breadcrumb.html.twig" %}

    <article class="product-content">
        <section class="product-content-details">
            {{ product.image }}
            {{ product.name }}
            {{ product.price }} €
            {{ product.description }}
        </section>
        <section class="product-content-related">
            je suis la section infos liées au produit !
        </section>
        <aside class="seller-card">
            <!-- {{ product.sellerId.name }} -->
        </aside>
    </article>
    <!-- <a href="{{ path('app_product_index') }}">back to list</a> -->
    <!-- <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> -->
    <!-- {{ include('product/_delete_form.html.twig') }} -->
</main>
{% endblock %}
