{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller('App\\Controller\\SearchController::searchBar')) }}

    {% if app.request.attributes.get('_route') == 'app_search' %}
        <main class="center-content partials-padding pb1em grid-75-25">
            <section>
                <h3 class="massive-text mb02em">Annonces : Paris</h3>
                <div class="df fdc g1em">
                    {% for product in products %}
                        <a href={{ path('app_product_show', {'slug': product.slug}) }} class="lthfcc">
                            <div class="box-border df">
                                <div class="p-relative h194-w240">
                                    <img src={{ asset(product.firstImage) }} alt="Image de l'annonce {{ product.name }}" class="h194-w240 ltlbc-rounded cover-center-object">
                                    <span class="bullet-counter">{{ product.images|length }}</span>
                                </div>
                                <div class="df fdc jcsb p1em">
                                    <div class="df fdc">
                                        <span class="big-text title-color-change">{{ product.name }}</span>
                                        <span class="normal-text">{{ product.price }} €</span>
                                    </div>
                                    <div class="df fdc tiny-text color-grey-darker">
                                        <span>{{ product.category }}</span>
                                        <span>{{ product.dateFormat }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </main>
    {% endif %}

    {% if app.request.method == 'POST' %}
            {% if products | length == 0 %}
                <main class="center-content partials-padding min-height bg-no-results">
                    <h3 class="df jcc massive-text">Aucun résultat pour votre recherche.</h3>
                </main>
            {% else %}
                <main class="center-content partials-padding pb1em grid-75-25">
                    <section>
                        <h3 class="massive-text mb02em">Annonces « {{ query }} » : Paris</h3>
                        <div class="df fdc g1em">
                        {% for product in products %}
                            <a href={{ path('app_product_show', {'slug': product.slug}) }} class="lthfcc">
                                <div class="box-border df">
                                    <div class="p-relative h194-w240">
                                        <img src={{ asset(product.firstImage) }} alt="Image de l'annonce {{ product.name }}" class="h194-w240 ltlbc-rounded cover-center-object">
                                        <span class="bullet-counter">{{ product.images|length }}</span>
                                    </div>
                                    <div class="df fdc jcsb p1em">
                                        <div class="df fdc">
                                            <span class="big-text title-color-change">{{ product.name }}</span>
                                            <span class="normal-text">{{ product.price }} €</span>
                                        </div>
                                        <div class="df fdc tiny-text color-grey-darker">
                                            <span>{{ product.category }}</span>
                                            <span>{{ product.dateFormat }}</span>
                                            <span class="color-purple">{{ product.images|length }} images</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        </div>
                    </section>
                </main>
            {% endif %}
        </main>
    {% endif %}
{% endblock %}
