{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller('App\\Controller\\SearchController::searchBar')) }}

    {% if app.request.attributes.get('_route') == 'app_search' %}
        <main class="center-content partials-padding grid-75-25">
            <section>
                <h1 class="massive-title">Annonces : Paris</h1>
                <div class="df fdc g1em">
                    {% for product in products %}
                        <div class="box-border df">
                            <img src={{ asset(product.firstImage) }} alt="Image de l'annonce {{ product.name }}" class="h194-w240 ltlbc-rounded cover-center-object">
                            <div>
                                {{ product.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <aside>
                je suis dans l'aside !
            </aside>
        </main>
    {% endif %}

    {% if app.request.method == 'POST' %}
        <main>
            {% if products | length == 0 %}
                <h4>Aucun résultat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3">Vos résultats de recherche :</h3>
                {% for product in products %}
                    <div class="mt-3 p-3 bg-light border rounded">
                        <a href="{{ path('app_product_show', {'slug': product.slug}) }}">
                            <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i>{{ product.name }}</h6>
                            <div class="text-dark small p-1 rounded">
                                Posté le {{ product.createdAt | format_datetime('medium', 'short') }} par {{ product.seller }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </main>
    {% endif %}
{% endblock %}
